<header>
    <p>{{title}}</p>
    <app-button *ngIf="hasRoute('/')"
        color="{{showAddTask ? 'red' : 'green'}}" 
        text="{{showAddTask ? 'Close' : 'Add'}}"  
        (btnClick)="toggleAddTask()">
    </app-button>
</header>

