<template>
    
    <div v-if="showAddTask">
      <AddTask @add-task="addTask"/>
    </div>

    <Tasks 
      @delete-task="deleteTask"  
      @toggle-reminder="toggleReminder" 
      :tasks="tasks" 
    />
</template>

<script>
import AddTask from '../components/AddTask'
import Tasks from '../components/Tasks'

export default {
    name: 'Home',
    props: {
        showAddTask: Boolean,
    },
    components: {
        Tasks,
        AddTask
    },
    data() {
        return {
            tasks: [],
        }
    },
    methods: {
    async deleteTask(id) {
      console.log('deleteTask', id)
      const res = await fetch(`api/tasks/${id}`, {
        method: 'DELETE',
      })
      res.status === 200 ? (this.tasks = this.tasks.filter((task)=> task.id!=id)) 
                            : alert('Error in deleteing')
    },
    async toggleReminder(id) {
      console.log('toggleReminder', id)
      const taskToToggle = await this.fetchTask(id)
      const updTask = {...taskToToggle , reminder: !taskToToggle.reminder }

      const res = await fetch(`api/tasks/${id}`, {
        method: 'PUT',
        headers: {
          'Content-type': 'application/json',
        },
        body: JSON.stringify(updTask),
     
      })
      const data = await res.json()

      this.tasks = this.tasks.map((task)=> task.id ===id ?  {...task, reminder: data.reminder} : task)
    },

    async addTask(task) {
      const res = await fetch('api/tasks', {
        method: 'POST',
        headers: {
          'Content-type': 'application/json',
          
        },
        body: JSON.stringify(task),
      })
      const data = await res.json()

      this.tasks = [...this.tasks, data]
      console.log(this.data)
    },
  
    async fetchTasks() {
      const res = await fetch('api/tasks')
      const data = await res.json()
      // console.log(data)
      return data
    },
    async fetchTask(id) {
      const res = await fetch(`api/tasks/${id}`)
      const data = await res.json()
      // console.log(data)
      return data
    }
  },
  
  async created() {
        this.tasks = await this.fetchTasks()
        console.log(this.tasks)
    },
    
}
</script>