<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="text">Task</label>
        <input 
        type="text" 
        name="text" 
        [(ngModel)]="text" 
        id="text" 
        placeholder="Add Task">
    </div>
    <div class="form-control">
        <label for="day">Task</label>
        <input 
        type="text" 
        name="day" 
        [(ngModel)]="day" 
        id="day" 
        placeholder="Add Day & Time">
    </div>
    <div class="form-control form-control-check">
        <label for="reminder">Task</label>
        <input 
        type="checkbox" 
        name="reminder" 
        [(ngModel)]="reminder" 
        id="reminder">
        
    </div>
    {{text}}
    <input type="submit" value="save Task" class="btn btn-block">
</form> 
,